img {
    width: 30%;
    margin: 1.5%;
    height: 220px;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid black;
    font-size: 1.5em;
    width: 30%;
    margin-left: 1.5%;
    font-family: 'Akaya Kanadaka', cursive;
    padding: 20px 0px;
}